<!-- Simple test page to verify Shopify page routing -->
<div style="padding: 2rem; text-align: center;">
  <h1>Admin Dashboard Test</h1>
  <p>If you can see this, the page template is working!</p>
</div>


